.grid-main{
  max-width: 900px;
  margin: 0 auto;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.child-items{
  flex: 1 1 0px;
}

@media screen and (min-width: 1024px){
  .grid-main{
    flex-direction: row;
  }
}
